input[type="radio"] {
    display: none;
}

.rating__star__null {
    stroke: #7B8E98;
    fill: none;
    stroke-width: 1;
}

.stars {
    margin-bottom: 15px;
    display: flex;
    gap: 5px;
}

.star {
    cursor: pointer;
}