
button {
    cursor: pointer;
}

.content {
    height: 100%;
	min-height: calc(100vh - 80px);
}

.main__container {
    display: flex;
    flex-direction: column;
    margin: 0px 223px;
}

.sort__menu__container {
display: flex;
align-items: flex-start;
height: 3em;
gap: 16px;
box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
border-radius: 12px;
}

.sort__menu__btn {
    margin-left: 1em;
    white-space: normal;
    border: none;
    height: 100%;
    background-color: #ffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #7B8E98;
    border-radius: 0.5em;
}

.cards__container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 40px;
    min-width: 480px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border-radius: 5%;
    flex: 0 1;
}

.card__image {
    object-fit: contain;
    width: 100%;
    margin-bottom: 16px;
}

.card__btn {
    width: 116px;
    height: 40px;
    padding: 10px 18px;
    color: #1A1A1A;
    border: none;
    background: #FFE44D;
    border-radius: 55px;
}

.item__price {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #1A1A1A;
}

.item__price__discount {
    color: #1A1A1A;
    font-family: Nunito;
    font-size: 12px;
    line-height: 2em;
    text-decoration: line-through solid !important

}

.item__price_red {
    color: #F44336;
}

.item__info {
    display: flex;
    flex-direction: column;
}


.item__name {
    width: 216px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
}

.item__wight {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #7B8E98;
}

.card__link {
    text-decoration: none;
    color: #1A1A1A;
    font-weight: 400;
}

.card__container__sticky {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.card__discount {
    background-color: #F44336;
    width: 3em;
    height: 2em;
    border-radius: 20px;
    padding: 2px, 8px, 2px, 8px;
    color:#ffff;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__favorite__btn {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    top: 3%;
    left: 85%;
}

.card:hover {
	box-shadow: 0 2px 4px rgba(40, 41, 61, 0.04), 0 8px 16px rgba(96, 97, 112, 0.16);
}

.card:focus-within {
	box-shadow: 0 0 1px rgba(40, 41, 61, 0.16), 0 0.5px 2px rgba(96, 97, 112, 0.24);
}

.sort__menu__btn:hover {
    color: #1A1A1A;
    border-radius: 0.5em;
    box-shadow: 0 2px 4px rgba(40, 41, 61, 0.04), 0 8px 16px rgba(96, 97, 112, 0.16);
}

.current {
    color: #1A1A1A;
    box-shadow: 0 2px 4px rgba(40, 41, 61, 0.04), 0 8px 16px rgba(96, 97, 112, 0.16);
}

.btn__back {
    margin-top: 2%;
    background: none;
    border: none;
    color: #7B8E98; 

}

.card__favorite_heart_like {
    cursor: pointer;
    fill: #F44336;
    stroke: #F44336;
    transition-duration: 0.3s;


}

.card__favorite_heart{
    cursor: pointer;
    fill: #ffffff;
    stroke: #000000;
    transition-duration: 0.3s;
}


.favorites__null__items__container {
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.favorites__null__items__container button {
    cursor: pointer;
    width: 115px;
    height: 40px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    border: rgba(123, 142, 152, 0.5) solid 2px;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.favorites__null__items__container p {
    color: #7B8E98;

}

.card__container__btn {
    margin-top: 20px;
}

@media (max-width: 480px) {
    .main__container {
        margin: 0px 0px 0px 10px;
    }
}
