$yellow: #FFE44D;

.product__btn__back, .product__articul {
    margin-top: 7%;
    background: none;
    border: none;
    color: #7B8E98;
}

.product__btn__back {
    cursor: pointer;
}

.product__container_img_active {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.product__image {
    height: 30%;
    width: 50%;
    cursor: pointer;
}


.product__container__btns {
    display: flex;
    gap: 1em;
}

.product__container__active {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.product__favorite__container {
    display: flex;
}

.product__delivery, .product__quality {
    display: flex;
    padding: 1em;
    gap: 1em;
    border-radius: 12px;
    background-color: rgba(236, 239, 241, 0.5);
}

.product__info_text {
    margin-top: -1em;
}

.product__quality {
    margin-top: 1em;
}

#counter {

    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 0.5px solid #7B8E98; 
    border-radius: 20px;

}

.counter__btns {
    border: none;
    background-color: rgb(255, 255, 255, 0);
    cursor: pointer;
}


.product__busket__btn {
    background: $yellow;
    border-radius: 55px;
    border: none;
    height: 3em;
    width: 100%;
    cursor: pointer;
}

.product__favorite__btn {
    border: none;
    background: white;
    color: #7B8E98;
    cursor: pointer;
}

.product__favorite__icon {
    cursor: pointer;
    fill: #ffffff;
    stroke: #000000;
    transition-duration: 0.3s;
}

.product__favorite__icon_like {
    cursor: pointer;
    fill: #F44336;
    stroke: #F44336;
    transition-duration: 0.3s;
}

.product__specifications {
    display: flex;
    justify-content: space-between;
        & p  {
            line-height: 35px;
            color: #7B8E98;
        }
        & div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 50%;
        }
}


.product__reviews__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product__reviews__text button, .write__review__btn {
    background: $yellow;
    border-radius: 55px;
    border: none;
    height: 3em;
    width: 15%;
    margin: 5px;
}

.product__reviews__text {
    & textarea {
        outline-color: $yellow;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(40, 41, 61, 0.04), 0 8px 16px rgba(96, 97, 112, 0.16);
        border: none;
}
}
.price__discount {
    color: #F44336;
}

.product__old__price {
    color: #1A1A1A;
    font-family: Nunito;
    font-size: 16px;
    line-height: 2em;
    text-decoration: line-through !important;
}

.errors {
    margin-left: 15px;
}

.error__textarea {
    margin: 10px 0px 10px 0px;
}

.minus__active {
    fill: #1A1A1A;
}