.modal__container {
    flex: 0 1 50px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    overflow:hidden;
    position:fixed;
    top: 20%;
    left: 30%;
    width: 420px;
    height: 426px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(40, 41, 61, 0.08), 0px 20px 32px rgba(96, 97, 112, 0.24);
    border-radius: 20px;
    display: none;
}

.modal__active {
    display: inline;
}

.modal__btn__close {
    position: absolute;
    right: 20px;

}

.modal__form {
    padding: 5px 16px;

    display: flex;
    flex-direction: column;
    color: #CFD8DC;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    justify-content: space-around;
    gap: 16px;
    height: 100%;
    
        h1 {
            color: #1A1A1A;
        }
        input {
            padding-left: 16px;
            gap: 10px;
            height: 48px;
            border: 1px solid #CFD8DC;
            border-radius: 12px;
            outline-color: #FFE44D;

        }
        span {
            cursor: pointer;
            font-size: 12px;
        }
        button {
            border: solid 1px #CFD8DC;
            border-radius: 55px;
            align-items: center;
            padding: 14px 24px;
        }
        .button__yellow {
            background-color: #FFE44D;
            border-color: #FFE44D;

        }
        .button__white {
            background-color: #FFFFFF;   
        }
        .form__reset__btn {
            text-align: right;
        }
}

.form__container__btns {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px;
}

.form__input {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal__close__btn {
    z-index: 111111;
    cursor: pointer;
}




