.home__first__order {
    margin-top: -5%;
}

.hits__up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .hits__btns {
        display: flex;
    }
}

.banner__promo {
    display: flex;
    gap: 2%;
    margin-top: 5%;
}

